body {
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;
    background: linear-gradient(360deg, #65928F 17%, #35476C 100%);
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.start-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    transition: opacity 2.5s ease-out;
}

.base {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}



/* APP BAR */
.app-bar {
    width: -webkit-fill-available;
    height: 5vh;
    min-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #21283F;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
    z-index: 3;
    position: relative;
    gap: 50%;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.app-title {
    color: white;
    font-size: 1rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links>div {
    color: #C4FDC6;
    font-size: 1rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.1em;
}

img {
    padding: 5px;
    width: 26px;
    height: 26px;
}




/* TITLE TEXT */
.livability-title {
    text-align: center;
    font-size: 5vw;
    font-weight: 600;
    letter-spacing: 1.5vw;
    word-wrap: break-word;
    z-index: 3;
}

.livability-subheading {
    text-align: center;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
    z-index: 3;
    padding: 4vw;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}



/* BACKGROUND */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #5A919D 0%, #3E5D6E 50%, #21283F 100%);
    mix-blend-mode: hard-light;
    z-index: 2;
}



/* PERSONALIZATION PAGE */
.personalization-page {
    transition: opacity 2.5s ease-out, transform 2.5s ease-out;
    opacity: 0;
    flex-wrap: wrap;
    display: flex;
    height: 100vh;
    position: relative;
    background: linear-gradient(360deg,
            rgba(101, 146, 143, 1) 17.325544357299805%,
            rgba(53, 71, 108, 1) 100%);
}

.personalization-page.visible {
    opacity: 1;
    transform: translateY(0);
}

.screen {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: row;
}



/*LOCATION INFORMATION PAGE*/
.location-information {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


#map {
    height: 477px;
    width: 477px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}



/*ENVIRONMETAL STANCE PAGE*/

.environmental-stance {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* AIR QUALITY INDEX PAGE*/
.air-quality-index {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.rating {
    background-color: #21283f9e;
    border-radius: 44px;
    padding: 22px;
}

/* CARBON INTENSITY PAGE */
.carbon-intensity {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*TEMPERATURE PAGE*/
.temperature {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.radio-input-wrapper {
    background-color: #21283f6b;
    border-radius: 20px;
    padding: 15px;
}

/* WIND PAGE */
.wind {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
