<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/components.css">
    <title>Livability</title>
</head>

<body>


    <!----------- START PAGE ----------->
    <div class="start-page">
        <div class="overlay"></div>
        <video autoplay muted loop class="video-background">
            <source src="../static/images/forest.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="base">
            <div class="livability-title">Livability</div>
            <div class="livability-subheading">The world's first AI Livability calculator, accessing climate impacts and
                environmental indices for informed living decisions.</div>
            <button class="shadow-btn">
                start
            </button>
        </div>
    </div>
    <!----------------------------------->


    <!----------- PERSONALIZATION PAGE ----------->

    <div class="personalization-page">

        <div class="app-bar">
            <div class="logo-container" id="logo-container">
                <img src="../static/images/tree.png" alt="Tree Image">
                <div class="app-title">Livability</div>
            </div>
            
            <div class="nav-links">
                <div class="about">About</div>
                <div class="contact">Contact</div>
            </div>
        </div>

        <div class="overlay"></div>

        <!----------- SIDEBAR ----------->

        <div class="sidebar">
            <div class="glow"></div>

                <div class="option">
                    <button class="option-btn">Location information</button>
                </div>

                <div class="option">
                    <button class="option-btn">Environmental stance</button>
                </div>

                <div class="option">
                    <button class="option-btn">Air Quality Index</button>
                </div>

                <div class="option">
                    <button class="option-btn">Carbon Intensity</button>
                </div>

                <div class="option">
                    <button class="option-btn">Temperature</button>
                </div>

                <div class="option">
                    <button class="option-btn">Humidity</button>
                </div>

                <div class="option">
                    <button class="option-btn">Wind</button>
                </div>

            </div>
        <!------------------------------->



    </div>

    <!-------------------------------------------->



    <script src="../static/js/script.js"></script>
</body>

</html>