<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/components.css">
    <title>Livability</title>
</head>
<body>

    <!------------- APP BAR ------------->
    <div class="bar">
        <div class="appbar"></div>
    </div>
    <!----------------------------------->


    <!----------- START PAGE ----------->
    <div class="startpage">
        <video autoplay muted loop class="video-background">
            <source src="../static/images/forest.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overlay"></div>
        <div class="base">
            <div class="livability-title">Livability</div>
            <div class="livability-subheading">The world's first AI Livability calculator, accessing climate impacts and environmental indices for informed living decisions.</div>
            <button class="shadow-btn">
                start
            </button>
        </div>
    </div>
    <!----------------------------------->



    <script src="../static/js/script.js"></script>
</body>
</html>
